<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a0307aceaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="main-header">
            <img src="images/logo-mercado-liebre.svg" class="logo" alt="">
            <nav class = "barra-busqueda">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                Buscar productos, marcas
            </nav>
            <h2 class="copy-header">
                <i id="nav-mano" class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de creito
            </h2>
        </div>
        <a href="#" class="burger">
            <i class="fa-solid fa-bars"></i>
        </a>
            <nav class="main-navbar">
            <ul class= lista-1>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tienda Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class= lista-2>
                <li><a href="/register.html">Crear tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="#">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras  <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            </nav>
    </header>
    <img src="/images/img-home-banner.jpg" alt="publicidad separador" class="publicidad-separador">
    <main>
        <h1 class="main-title">Basado en tu última visita</h1>
        <section class="main-section">
            <article class="main-article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="camionetita">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precio-oferta">
                <div class="precio">$20.000</div>
                <div class="oferta">15% OFF</div>
                <div class="descripcion">Cafetera Moulinex</div>
                </div>
            </article>
            <article class="main-article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="camionetita"><i class="fa-solid fa-truck"></i></div>
                <div class="precio-oferta">
                <div class="precio">$50.000</div>
                <div class="oferta">40% OFF</div>
                <div class="descripcion">MacBook Pro 2019</div>
                </div>
            </article>
            <article class="main-article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <div class="camionetita"><i class="fa-solid fa-truck"></i></div>
                <div class="precio-oferta">
                <div class="precio">$95.000</div>
                <div class="oferta">25% OFF</div>
                <div class="descripcion">Samsung Galaxy S10</div>
                </div>
            </article>
            <article class="main-article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
                <div class="camionetita"><i class="fa-solid fa-truck"></i></div>
                <div class="precio-oferta">
                <div class="precio">$32.400</div>
                <div class="oferta">60% OFF</div>
                <div class="descripcion">SmartTv Samsung 43"</div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div class="footer-titulos"><i class="fa-solid fa-credit-card"></i><br>Pagá con tarjeta o en efectivo</div>
                <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div>
        </section>
        <section>
            <div class="footer-titulos"><i class="fa-solid fa-gift"></i><br>Envío gratis desde $ 2.500</div>
                <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div>
        </section>
        <section>
            <div class="footer-titulos"><i class="fa-solid fa-user-shield"></i><br>Seguridad, de principio a fin</div>
                <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</div>
        </section>
    </footer>
</body>
</html>